html {
  height: 100%;
}

body {
  height: 100%;
}

/* テーブルのヘッダーのスタイル */
th {
  /* ヘッダーの背景色 */
  color: #333;
  /* ヘッダーのテキスト色 */
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* テーブルのセルのスタイル */
td {
  /* セルの境界線 */
  padding: 10px;
}
