html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* ヘッダー */
header {
  background-color: #3498db;
  /* プライマリカラー */
  color: #fff;
  /* テキストカラーを白に設定 */
  padding: 20px;
}

/* ナビゲーションメニュー */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* サイドバー */
.sidebar {
  background-color: #f2f2f2;
  /* 背景色 */
  padding: 20px;
  width: 250px;
  height: 100%;
  /* 左寄せ */
}

/* コンテンツ領域 */
.content {
  width: 100%;
  /* サイドバーの幅とマージンを考慮して、右にずらす */
}

/* フッター */
footer {
  background-color: #3498db;
  /* プライマリカラー */
  color: #fff;
  padding: 20px;
  clear: both;
  /* フロート解除 */
  position: relative;
  bottom: 0;
  width: 100%;
}

/* テーブル全体のスタイル */
.table-container {
  width: 100%;
  overflow-x: auto;
  /* 水平スクロールバーが表示されるようにする */
}

/* テーブルのスタイル */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* テーブルのヘッダーのスタイル */
th {
  background-color: #f0f0f0;
  /* ヘッダーの背景色 */
  color: #333;
  /* ヘッダーのテキスト色 */
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

/* テーブルのセルのスタイル */
td {
  border: 1px solid #ddd;
  /* セルの境界線 */
  padding: 10px;
}

/* テーブルの奇数行のスタイル */
tr:nth-child(odd) {
  background-color: #f9f9f9;
  /* 奇数行の背景色 */
}